@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-sm-12">
        <div class="form-horizontal">
            <h2>Witaj !</h2>
            <p>Oto aplikacja do prowadzenia budzetu domowego</p>
            <p>Dzięki intuicyjnej nawigacji łatwo będzie Ci się poruszać po funkcjach systemu</p>
            <p>Aplikacja webowa umożliwi Ci dostęp do swojego budżetu z każdego miejsca oraz z dowolnego urządzenia</p>
            <p>Program podlicza wszystkie nasze wydatki oraz przychody i tworzy raport z zestawieniem z dowolnego okresu czasu</p>
            <p>Monitoruj tutaj swoje wydatki i przychody</p>
            <p>Dowiedz się, gdzie najwięcej wydajesz</p>
            <p>Zacznij kontrolować swoje finanse !</p>
            <p>Powodzenia !</p>
        </div>
    </div>
</div>
