@{
    ViewBag.Title = "Home Page";
}
<div class="row margin-top20">
    <div class="col-md-4">
        <h2>Witaj !</h2>
        <p>Oto aplikacja do prowadzenia budzetu domowego.</p>
        <p>Monitoruj tutaj swoje wydatki i przychody.</p>
        <p>Wyświetlaj raporty z miesięcy lub z innego okresu.</p>
        <p>Dowiedz się, gdzie najwięcej wydajesz.</p>
        <p>Zacznij kontrolować swoje finanse !</p>
        <p>Powodzenia !</p> 
    </div>
    <div class="col-md-8 ">
        <div style="width: 80%;"><img src="/shoppingLoginView.jpg" class="img-responsive" alt="Zdjęcie zakupów "></div>
    </div>
</div>
