@model List<HomeBudget.Database.Category>

@{
    ViewBag.Title = "Index";
    string[] categoryGlyphicons = { "glyphicon-user ", "glyphicon-shopping-cart", "glyphicon-heart", "glyphicon-plus", "glyphicon-plane", "glyphicon-phone", "glyphicon-briefcase", "glyphicon-th" };
}
<div class="row">
    <div class="col-md-3">
        @Html.Partial("_CategoryList", Model)
    </div>
</div>

