body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.categories div:nth-child(1) div {
    background: rgb(188, 67, 62);
}
.categories div:nth-child(2) div {
    background: rgb(53, 81, 22);
}
.categories div:nth-child(3) div {
    background: rgb(40, 83, 82);
}

.categories div:nth-child(4) div {
    background: rgb(8, 172, 141); 
}
.categories div:nth-child(5) div {
    background: rgb(231, 175, 12);
}
.categories div:nth-child(6) div {
    background: rgb(47, 162, 22);
}
.categories div:nth-child(7) div {
    background: rgb(81, 153, 125);
}

.categories div:nth-child(8) div {
    background: rgb(58, 199, 198);
}
.categoryView {
    border-radius: 10%;
    text-align: center;
}
.categoryView a {
    display: inline-block;
    height: 150px;
    width: 100%;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.categoryView span{
    display: inline-block;
    width: 100%;
    font-size: 20px;
}
.margin-top10{
    margin-top: 10px;
}
.margin-top20 {
    margin-top: 20px;
}
.glyphicon {
    margin-top: 51px;
    margin-bottom: 10px;
    font-size: 30px;
}
.glyphicon-grain:before {
    content: "\e239";
}
.financeSum {
    padding-top: 10px;
    font-size: 1.3em;
}
.reports li span,
.reports .panel-body span,
.reports .panel-heading span,
.reports .panel-footer span {
    display: inline-block;
}
.reportsGeneralList {
    padding-left: 15px;
}
.reportsGeneralList span:first-child {
    width: 40%;
}
.reportsGeneralList span:nth-child(2) {
    width: 58%;
}
.pad-left0 {
    padding-left: 0px;
}
.reportsDetailesList .panel-body {
    padding: 0;
}
.reportsDetailesList .panel-body .list-group {
    margin-bottom: 0;
}
.reportsDetailesList .panel-body .list-group-item {
    border-radius: 0;
    border-left: none;
    border-right: none;
    padding-left: 25px;
}
.reportsDetailesList .reportBalance .panel-footer {
    border: none;
}
.shoppingLoginView {
    width: 200px;
    height: 200px;  
}