@model List<HomeBudget.Database.Category>
@{
    ViewBag.Title = "Index";
    string[] categoryGlyphicons = { "glyphicon-euro", "glyphicon-lock", "glyphicon-book", "glyphicon-th" };
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_CategoryList", Model)
    </div>
</div>
